@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-color: black;
}

.titletext {
  text-align: center;
  font-size: 12;
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.5em;
}
